* { box-sizing: border-box; touch-action: manipulation; }
body, html { height: 100%; width: 100%; margin: 0; }

body {
  background: #759496;
  background: linear-gradient(177deg, #759496 0%, #012426 80%, #012525 100%);

  padding: 0.5rem;
  transition: padding 0.5s ease-in-out;

  @media (max-width: 500px) { padding: 0; }
}

#container {
  background-image: url('/assets/img/swimming.jpg');
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: max(24px, 2vw);

  border-radius: 12px;
  box-shadow: black 0 0 1em;

  transition: border-radius 0.5s ease-in-out;

  @media (max-width: 500px) {
    font-size: 5vw;
    border-radius: 0;
  }

  @media (max-aspect-ratio: 9/8) {
    background-image: url('/assets/img/waving.jpg');
  }
}

header {
  position: absolute;
  top: 1em;
  left: 1em;
}

footer {
  position: absolute;
  bottom: 1em;
  left: 1em;
  font-size: 0.75em;
  font-weight: 300;
  font-style: italic;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
  max-width: fit-content;
}

hr {
  margin: 1em auto;
  width: 60%;
  border-style: solid;
  border-radius: 16px;
}

p, h1 {
  margin: 0;
}